<form action="" id="form-signin">
    <div class="container valign-wrapper df">
        <div class="row">
            <div class="col s12 l6 offset-l3 white-text card brad-8">
                <div class="col s12 center">
                    <h1 class="text-center teal-text light">
                        <small>Sign in</small>
                    </h1>
                </div>
                <div class="divider"></div>

                <div class="input-field col s12">
                    <i class="material-icons prefix teal-text">email</i>
                    <input id="email" name="name" type="text" class="teal-text" />
                    <label for="email">Email</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix teal-text">https</i>
                    <input id="password" name="name" type="text" class="teal-text" />
                    <label for="password">Password</label>
                </div>

                <div class="col s12">&nbsp;</div>

                <div class="col s12">&nbsp;</div>
                <div class="col s12 center">
                    <button type="Submit" class="col s12 btn hoverable" id="send-signin">
                        Submit
                    </button>
                </div>
                <div class="col s12">&nbsp;</div>

                <div class="col s12">&nbsp;</div>

                <div class="col s12">&nbsp;</div>
            </div>
        </div>
    </div>
</form>